extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/home.css")

block content
  section(class="home")
    div(class="home__container")
      h2(class="home__welcome") Welcome to
      h1(class="home__title")=title
      p(class="home__description") You're moments away from the best, most innovative social messaging experience you've ever had

      nav(class="home__navigation")
        a(class="home__link home__link--blue" href="/sign-up") Sign Up
        a(class="home__link home__link--white" href="/log-in") Log In
        a(class="home__link home__link--black" href="/posts") View Posts
