doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/global.css')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href='/images/optimistictrousers.jpg' type='image/x-icon')
    block styles
  body
    header(class="header")
      nav(class="header__navigation")
        a(class="header__logo" href="/")
          img(class="header__image" src="/images/optimistictrousers.jpg" alt="smiling pair of pants")
        label(class="header__label" for="toggle") &#8801;
        input(class="header__control" type="checkbox" id="toggle")
        ul(class="header__list")
          li(class="header__item")
            a(class="header__link header__link--regular" href="/posts") Posts
          li(class="header__item")
            a(class="header__link header__link--regular" href="/posts/create") Create Post
          li(class="header__item")
            a(class="header__link header__link--regular" href="/membership") Membership
          li(class="header__item")
            a(class="header__link header__link--regular" href="/admin") Admin 
          if locals.isAuthenticated
            li(class="header__item") Hello, #{locals.user.firstName} #{locals.user.lastName}
            li(class="header__item")
              a(class="header__link header__link--signup" href="/log-out") Sign Out
          else
            li(class="header__item")
              a(class="header__link header__link--regular" href="/log-in") Log In
            li(class="header__item")
              a(class="header__link header__link--signup" href="/sign-up") Sign Up
    main
      block content
    footer(class="footer")
      a(class="footer__link" href="https://github.com/OptimisticTrousers") Created by Tony Isern

