extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/form.css")

block content
    section
        h1 Log In
        form(class="form" method="POST" action="")
            div(class="form__group")
                input(id="username" name="username" class="form__control" type="email" required="true" placeholder="you@domain.com")
                label(class="form__label" for="username") EMAIL
            div(class="form__group")
                input(id="password" name="password" class="form__control" type="password" required="true" placeholder="password")
                label(class="form__label" for="password") PASSWORD
            if error
                p(class="form__error")=error
            button(class="form__button" type="submit") Log In
            div(class="form__container")
                span(class="form__already") Don't have an account?
                a(class="form__link" href="/sign-up") Sign Up
    if errors 
        ul
        for error in errors
            li!= error.msg