extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/form.css")

block content
    section
        h1 Log In
        form(class="form")
            div(class="form__group")
                input(id="email" name="email" class="form__control" required="true" placeholder="you@domain.com")
                label(class="form__label" for="email") EMAIL
            div(class="form__group")
                input(id="email" name="email" class="form__control" required="true" placeholder="password")
                label(class="form__label" for="password") PASSWORD
            button(class="form__button" type="submit") Log In
            div(class="form__container")
                span(class="form__already") Don't have an account?
                a(class="form__link" href="/sign-up") Sign Up