extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/detail.css")

block content
    section
        article(class="post")
            h3(class="post__title") minus ut consequatur
            div(class="post__details")
                span(class="post__author") by Carlos Altenwerth
                span(class="post__date") about 14 hours ago
            p(class="post__content") Placeat dolores consequuntur voluptatem. Ut architecto placeat et sapiente. Sed qui excepturi tenetu
            div(class="post__links")
                a(class="post__link post__link--edit") Edit Post
                a(class="post__link post__link--delete") Delete Post