extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/posts.css")

block content
    section
        h1 Posts
        article(class="post-excerpt")
            h3(class="post-excerpt__title") minus ut consequatur
            div(class="post-excerpt__details")
                span(class="post-excerpt__author") by Carlos Altenwerth
                span(class="post-excerpt__date") about 14 hours ago
            p(class="post-excerpt__content") Placeat dolores consequuntur voluptatem. Ut architecto placeat et sapiente. Sed qui excepturi tenetu
            a(class="post-excerpt__link") View Post