extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/form.css")

block content
    section
        h1 Sign up
        form(class="form" method="POST" action="")
            div(class="form__group")
                input(id="firstName" name="firstName" class="form__control" required="true" placeholder="Bob")
                label(class="form__label" for="firstName") FIRST NAME
            div(class="form__group")
                input(id="lastName" name="lastName" class="form__control" required="true" placeholder="Jones")
                label(class="form__label" for="lastName") LAST NAME
            div(class="form__group")
                input(id="email" name="email" class="form__control" type="email" required="true" placeholder="you@domain.com")
                label(class="form__label" for="email") EMAIL
            div(class="form__group")
                input(id="password" name="password" class="form__control" type="password" required="true" placeholder="password")
                label(class="form__label" for="password") PASSWORD
            button(class="form__button" type="submit") Sign Up
            div(class="form__container")
                span(class="form__already") Already a member?
                a(class="form__link" href="/log-in") Log In
    if errors 
        ul
        for error in errors
            li!= error.msg