@font-face {
  font-family: "Kaleko";
  src: url(../fonts/kaleko-105-bold.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "PMN Caecilia";
  src: url(../fonts/PMNCaeciliaSansHeadRg.TTF);
}

@font-face {
  font-family: "Petala Pro";
  src: url(../fonts/PetalaPro-Bold.woff2);
}

html {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/clubhouse-background.webp);
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  height: 100%;
  padding-bottom: 5rem;
}

.header {
  width: 100%;
  background-color: #452b5b;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}

.header__navigation {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  margin: 0 30px 0 0;
}

.header__list .header__link {
  margin: 0 10px;
  line-height: 70px;
}

.header__label{
  margin: 0 40px 0 0;
  font-size: 100px;
  color: white;
  line-height: 70px;
  display: none;
}

.header__label:hover {
  opacity: 0.7;
}

#toggle {
  display: none;
}

.header__list {
  float: right;
  margin-right: 20px;
}

.header__item {
  display: inline-block;
  margin: 0 5px;
}

.header__image {
  z-index: 1;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 15px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.header__image:hover {
  opacity: 0.7;
}

.header__link {
  font-size: 16px;
  padding: 8px 13px;
  color: white;
  cursor: pointer;
}

.header__link--regular:hover {
  color: #3a95c9;
}

.header__link--signup {
  background-color: #3a95c9;
  padding: 8px 30px;
  border-radius: 50px;
  color: white;
}

.header__link--signup:hover {
  background-color: #2d78a3;
}

.footer {
  margin-top: auto;
  padding: 1rem;
  height: 5%;
  display: grid;
  place-items: center;
  background-color: white;
}

.footer__link {
  color: #7a7c7f;
  cursor: pointer;
  font-weight: 900;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 650px) {
  .header__label {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 0 auto;
    line-height: 70px;
  }
  .header__navigation {
    display: block;
    padding-left: 0;
    margin: 0 10px;
  }
  .header__list {
    text-align: center;
    display: none;
    width: 100%;
    padding-left: 0;
    margin-right: 0;
  }
  .header__image {
    display: inline-block;
  }
  .header__link {
    line-height: 70px;
    width: 100%;
    border-radius: 0;
  }
  .header__link--signup {
    background-color: transparent;
    color: white;
  }
  .header__link--signup:hover {
    background-color: transparent;
    color: #3a95c9;
  }
  .header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eaeaeb;
  }
  .header__item:last-child {
    border-bottom: none;
  }
  #toggle:checked ~ .header__list {
    display: flex;
    flex-direction: column;
  }
}
