@font-face {
  font-family: "Kaleko";
  src: url(../fonts/kaleko-105-bold.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "PMN Caecilia";
  src: url(../fonts/PMNCaeciliaSansHeadRg.TTF);
}

@font-face {
  font-family: "Petala Pro";
  src: url(../fonts/PetalaPro-Bold.woff2);
}

html {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/clubhouse-background.webp);
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100%;
  padding-bottom: 5rem;
}

.header {
  width: 100%;
  background-color: #452b5b;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
}

.header__navigation {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error {
  padding: 2rem;
}

.header__welcome {
  color: white;
  font-family: "Kaleko";
}

.header__list {
  margin: 0 30px 0 0;
}

.header__link {
  margin: 0 10px;
  line-height: 70px;
}

.header__label {
  margin: 0 40px 0 0;
  font-size: 90px;
  color: white;
  line-height: 70px;
  display: none;
}

.header__label:hover {
  opacity: 0.7;
}

#toggle {
  display: none;
}

.header__list {
  float: right;
  margin-right: 20px;
}

.header__image {
  z-index: 1;
  width: 75px;
  height: 75px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 15px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

.header__image:hover {
  opacity: 0.7;
}

.header__item {
  display: inline-block;
  margin: 0 5px;
}

.header__item:nth-last-child(2) {
  border-bottom: none;
  color: white;
  font-family: "Kaleko";
}

.header__link {
  font-size: 16px;
  padding: 8px 13px;
  color: white;
  cursor: pointer;
}

.header__link--regular:hover {
  color: #c2c2ff;
}

.header__link--signup {
  background-color: #0a74da;
  padding: 8px 30px;
  border-radius: 8px;
  color: white;
  transition: background-color 0.3s ease; /* Smooth transition for hover effects */
}

.header__link--signup:hover {
  background-color: #0d65e8;
}

.header__link--signout {
  background-color: #ff4757; /* A slightly deep red shade */
  color: #ffffff; /* White text */
  padding: 10px 20px; /* Padding for size */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text for visibility */
  border: none; /* No border */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.header__link--signout:hover {
  background-color: #ff6b81; /* A slightly lighter red on hover for feedback */
}

.footer {
  margin-top: auto;
  padding: 1rem;
  height: 5%;
  display: grid;
  place-items: center;
  background-color: white;
}

.footer__link {
  color: #7a7c7f;
  cursor: pointer;
  font-weight: 900;
}
.footer__link:hover {
  color: #37383b;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 930px) {
  /* https://www.youtube.com/watch?v=xMTs8tAapnQ */
  .header__label {
    display: block;
    cursor: pointer;
    float: right;
    margin: 0 auto;
    line-height: 70px;
  }

  .header__navigation {
    display: block;
    padding-left: 0;
    margin: 0 10px;
  }

  .header__list {
    text-align: center;
    display: none;
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
    margin-right: 0;
    padding-bottom: 1rem;
    background-color: #3a3a3a; /* A dark background for contrast */
    border-top: 3px solid #5e5e5e; /* A top border for visual separation */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* A slight shadow for depth */
  }

  .header__image {
    display: inline-block;
  }

  .header__link {
    line-height: 40px;
    border-radius: 0;
    display: block; /* Full width clickable area */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: xx-large;
  }

  .header__link--regular:hover {
    background-color: #4a4a4a; /* Slight background change on hover for feedback */
    color: #9b9bcd; /* Retaining your hover color choice */
  }

  .header__item {
    display: block; /* Stack items vertically */
    margin: 10px 0; /* Increased vertical margin for better spacing */
  }

  .header__item:nth-last-child(2) {
    line-height: 70px;
  }

  .header__item:last-child {
    border-bottom: none;
    padding: 8px 13px;
    font-size: 2rem;
    line-height: 70px;
    text-align: center;
    margin: 0 10px;
  }

  #toggle:checked ~ .header__list {
    display: flex;
    flex-direction: column;
  }
}
