section {
    min-height: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5rem;
}

.post-excerpt {
    padding: 0.75rem;
    border: 1px solid rgb(188, 174, 174);
    border-radius: 7px;
    background-color: white;
    margin-top: 0.5rem;
    height: fit-content;
}

.post-excerpt__title {
    margin: 0;
    font-size: 2rem;
}

.post-excerpt__content {
    margin-top: 10px;
}

.post-excerpt__date {
    font-style: italic;
}

.post-excerpt__link {
    display: inline-block;
    background: transparent;
    border: 1px solid #cdcdcd;
    color: #4e4e4e;
    font-weight: 600;
    border-radius: 4px;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    margin-right: auto;
}

.post-excerpt__link:hover {
    border: 1px solid #818181;
}